Repository scala-native/scala-native, pull requests merged in 2022-12, with the labels that each got.

#3015 Implement j.net.NetworkInterface & InterfaceAddress classes
  docs/lib/javalib.rst
  javalib/src/main/resources/scala-native/ifaddrs.c
  javalib/src/main/resources/scala-native/net/if_dl.c
  javalib/src/main/resources/scala-native/netinet/unixIf.c
  javalib/src/main/scala/java/net/InetAddress.scala
  javalib/src/main/scala/java/net/InterfaceAddress.scala
  javalib/src/main/scala/java/net/NetworkInterface.scala
  javalib/src/main/scala/java/net/SocketHelpers.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/net/NetworkInterfaceTestOnJDK9.scala
  unit-tests/shared/src/test/scala/javalib/net/InterfaceAddressTest.scala
  unit-tests/shared/src/test/scala/javalib/net/NetworkInterfaceTest.scala
Labels: component:javalib

#3021 Another pass at reconciling clib & posixlib
  clib/src/main/scala/scala/scalanative/libc/complex.scala
  clib/src/main/scala/scala/scalanative/libc/ctype.scala
  clib/src/main/scala/scala/scalanative/libc/fenv.scala
  clib/src/main/scala/scala/scalanative/libc/float.scala
  clib/src/main/scala/scala/scalanative/libc/tgmath.scala
  docs/lib/posixlib.rst
  posixlib/src/main/scala/scala/scalanative/posix/complex.scala
  posixlib/src/main/scala/scala/scalanative/posix/ctype.scala
  posixlib/src/main/scala/scala/scalanative/posix/fenv.scala
  posixlib/src/main/scala/scala/scalanative/posix/float.scala
  posixlib/src/main/scala/scala/scalanative/posix/tgmath.scala
Labels: component:posixlib

#3023 Fix #2291, #2764: Document long standing fact that unsafe.stackalloc[T] zeros returned memory
  docs/changelog/0.5.0.md
  docs/user/interop.rst
Labels: component:docs

#3025 Fix #2900: Implement posixlib un.scala
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/sys/un.c
  posixlib/src/main/scala/scala/scalanative/posix/sys/un.scala
Labels: component:posixlib, backport candidate

#3019 Add sys/wait to posixlib doc
  docs/lib/posixlib.rst
Labels: component:docs, component:posixlib, backport candidate

#3026 Fix #2755: j.nio.Files#readAllBytes reports failed Unix file open call
  javalib/src/main/scala/java/nio/file/Files.scala
Labels: component:javalib, backport candidate

#3031 Fix #2973: Implement some requested j.io.InputStream Java 9 &11 methods
  javalib/src/main/scala/java/io/InputStream.scala
  unit-tests/shared/src/test/require-jdk11/org/scalanative/testsuite/javalib/io/InputStreamTestOnJDK11.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/io/InputStreamTestOnJDK9.scala
Labels: component:javalib

#3032 Add posixlib sys/times
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/sys/times.c
  posixlib/src/main/scala/scala/scalanative/posix/sys/times.scala
Labels: component:posixlib, backport candidate

#3041 Implement posixlib glob, fnmatch, & libgen on Unix
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/fnmatch.c
  posixlib/src/main/resources/scala-native/glob.c
  posixlib/src/main/scala/scala/scalanative/posix/fnmatch.scala
  posixlib/src/main/scala/scala/scalanative/posix/glob.scala
  posixlib/src/main/scala/scala/scalanative/posix/libgen.scala
  unit-tests/native/src/test/scala/scala/scalanative/posix/GlobTest.scala
Labels: component:posixlib, backport candidate

#3042 Implement posixlib wordexp on Unix
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/wordexp.c
  posixlib/src/main/scala/scala/scalanative/posix/wordexp.scala
  unit-tests/native/src/test/scala/scala/scalanative/posix/WordexpTest.scala
Labels: component:posixlib, backport candidate

#3040 Reduce memory usage in posixlib spawn
  posixlib/src/main/scala/scala/scalanative/posix/spawn.scala
Labels: component:posixlib, backport candidate

#3034 Implement some posixlib & clib locale related methods on Unix
  clib/src/main/resources/scala-native/locale.c
  clib/src/main/scala/scala/scalanative/libc/locale.scala
  docs/lib/libc.rst
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/locale.c
  posixlib/src/main/resources/scala-native/monetary.c
  posixlib/src/main/scala/scala/scalanative/posix/locale.scala
  posixlib/src/main/scala/scala/scalanative/posix/monetary.scala
  unit-tests/native/src/test/scala/scala/scalanative/posix/LocaleTest.scala
  unit-tests/native/src/test/scala/scala/scalanative/posix/MonetaryTest.scala
Labels: component:posixlib

#3022 Make list of supported classes prettier & easier to read and visually search
  docs/lib/javalib.rst
  scripts/javalib.py
Labels: component:docs

#3064 Add `NativeTags.Link` to limit concurrency of `nativeLink`
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePlugin.scala
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala
Labels: backport candidate
