Repository scala-native/scala-native, pull requests merged in 2022-10, with the labels that each got.

#2895 Fix #2892: Implement posixlib sys/select pselect()
  posixlib/src/main/resources/scala-native/sys/select.c
  posixlib/src/main/scala/scala/scalanative/posix/sys/select.scala
Labels: component:posixlib, backport candidate

#2894 Fix #2891: posixlib spawn is now implemented.
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/spawn.c
  posixlib/src/main/scala/scala/scalanative/posix/spawn.scala
Labels: component:posixlib, backport candidate

#2868 Partial fix #2822: 0.4.x, 0.5.x: remove non-local returns from j.u.StringTokenizer
  javalib/src/main/scala/java/util/StringTokenizer.scala
Labels: component:javalib, backport candidate

#2898 Port `j.u.ArrayDeque` from JSR 166
  javalib/src/main/scala/java/util/ArrayDeque.scala
  javalib/src/main/scala/java/util/Spliterator.scala
  unit-tests/shared/src/test/scala/javalib/util/ArrayDequeTest.scala
Labels: backport candidate

#2788 Remove URL stubs for 0.5.0
  docs/changelog/0.5.0.md
  docs/changelog/index.rst
  javalib/src/main/scala/java/net/URI.scala
  javalib/src/main/scala/java/net/URL.scala
  javalib/src/main/scala/java/net/URLClassLoader.scala
  javalib/src/main/scala/java/net/URLConnection.scala
Labels: component:javalib, bug

#2913 Fix #2911: javalib IPv6 addresses now display using only lowercase hexadecimal digits
  javalib/src/main/scala/java/net/Inet6Address.scala
  unit-tests/shared/src/test/scala/javalib/net/Inet6AddressTest.scala
Labels: component:javalib, backport candidate

#2907 Fix #2903: avoid systematic checking of String integrity in IEEE754Helpers
  javalib/src/main/scala/java/lang/IEEE754Helpers.scala
Labels: backport candidate

#2922 Fix #2921: Commix Heap.c now compiles with Clang 15.0.3
  nativelib/src/main/resources/scala-native/gc/commix/Heap.c
Labels: component:gc, backport candidate

#2928 Fix #2927: Expunge non-JVM j.l.String#getValue()
  javalib/src/main/scala/java/lang/String.scala
Labels: component:javalib

#2605 Remove logic from outside build - 0.5.0 only
  docs/changelog/0.5.0.md
  project/BinaryIncompatibilities.scala
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/NativeLinkCacheImplicits.scala
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePlugin.scala
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala
  scala-partest/src/main/scala/scala/tools/nsc/MainGenericRunner.scala
  scala-partest/src/main/scala/scala/tools/partest/scalanative/PartestTask.scala
  tools/src/main/scala/scala/scalanative/build/Build.scala
  tools/src/main/scala/scala/scalanative/build/Config.scala
  tools/src/main/scala/scala/scalanative/build/LLVM.scala
  tools/src/main/scala/scala/scalanative/build/NativeConfig.scala
  tools/src/test/scala/scala/scalanative/IncCompilationTest.scala
  tools/src/test/scala/scala/scalanative/LinkerSpec.scala
  tools/src/test/scala/scala/scalanative/linker/ReachabilitySuite.scala
Labels: component:build

#2934 Add additional javalib String immutability tests
  unit-tests/shared/src/test/scala/javalib/lang/StringTest.scala
Labels: component:javalib

#2948 Partial fix #2822: remove non-local returns from j.math.Primality
  javalib/src/main/scala/java/math/Primality.scala
Labels: component:javalib, backport candidate
