Repository scala-native/scala-native, pull requests merged in 2023-01, with the labels that each got.

#3084 Fix #3072: FreeBSD initial TestMain now works on IPv6 systems
  test-interface/src/main/scala/scala/scalanative/testinterface/TestMain.scala
Labels: component:tools, os:freebsd, has pr, component:posixlib

#3087 Fix #3086: Harden TimesTest to intermittent OS zero times
  unit-tests/native/src/test/scala/scala/scalanative/posix/sys/TimesTest.scala
Labels: component:tests, has pr

#3091 Introduce nativeMode release-size
  .github/workflows/run-tests-linux-multiarch.yml
  .github/workflows/run-tests-linux.yml
  docs/changelog/0.5.0.md
  docs/contrib/build.rst
  docs/user/sbt.rst
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePlugin.scala
  tools/src/main/scala/scala/scalanative/build/LLVM.scala
  tools/src/main/scala/scala/scalanative/build/Mode.scala
  tools/src/main/scala/scala/scalanative/codegen/CodeGen.scala
  tools/src/main/scala/scala/scalanative/interflow/Inline.scala
  tools/src/main/scala/scala/scalanative/interflow/PolyInline.scala
  tools/src/main/scala/scala/scalanative/interflow/Visit.scala
  tools/src/main/scala/scala/scalanative/linker/LinktimeValueResolver.scala
Labels: component:build, performance

#3099 Add `j.u.c.Flow`
  javalib/src/main/scala/java/util/concurrent/Flow.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/concurrent/FlowTest.scala
Labels: component:javalib, backport candidate

#3100 Reorganize posixlib unit-tests to follow current javalib practice
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/FcntlTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/GlobTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/LanginfoTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/LocaleTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/MonetaryTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/NetdbTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/StringTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/TimeTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/WordexpTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/netinet/In6Test.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/netinet/InTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/MsgIoSocketTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/ResourceTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/SocketTestHelpers.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/StatTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/TimesTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/Udp6SocketTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/UdpSocketTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/UioTest.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/WaitTest.scala
Labels: component:posixlib

#3102 Port `j.u.TreeMap` and friends
  javalib/src/main/scala/java/nio/charset/Charset.scala
  javalib/src/main/scala/java/util/Collections.scala
  javalib/src/main/scala/java/util/Comparator.scala
  javalib/src/main/scala/java/util/NaturalComparator.scala
  javalib/src/main/scala/java/util/RedBlackTree.scala
  javalib/src/main/scala/java/util/TreeMap.scala
  javalib/src/main/scala/java/util/TreeSet.scala
  javalib/src/main/scala/java/util/function/ToDoubleFunction.scala
  javalib/src/main/scala/java/util/function/ToIntFunction.scala
  javalib/src/main/scala/java/util/function/ToLongFunction.scala
  unit-tests/jvm/src/test/scala/org/scalanative/testsuite/utils/Platform.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/utils/Platform.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/charset/CharsetTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/ArraysTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/ComparatorTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/MapTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/NavigableMapTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/PriorityQueueTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/SortedMapTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/TreeMapTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/TreeSetTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/function/ToDoubleFunctionTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/function/ToIntFunctionTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/function/ToLongFunctionTest.scala
  unit-tests/shared/src/test/scala/utils/AssertThrows.scala
Labels: component:javalib, backport candidate

#3105 Port sbt console warning from Scala.js
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala
Labels: component:sbtplugin, backport candidate
