Repository scala-native/scala-native, pull requests merged in 2023-06, with the labels that each got.

#3317 Fix #3307, #3315: javalib *Stream.iterate characteristics now match JVM
  javalib/src/main/scala/java/util/PrimitiveIterator.scala
  javalib/src/main/scala/java/util/stream/DoubleStream.scala
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/Stream.scala
  unit-tests/shared/src/test/require-jdk16/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTestOnJDK16.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTestOnJDK9.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/stream/StreamTestOnJDK9.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTestHelpers.scala
Labels: component:javalib, backport candidate

#3319 Fix #3318: Remove two recent JSR166 related deprecation warnings
  unit-tests/shared/src/test/require-jdk19/org/scalanative/testsuite/javalib/util/concurrent/ExecutorService19Test.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/concurrent/JSR166Test.scala
Labels: component:javalib

#3339 Build: Update sbt to 1.9.0
  project/build.properties
Labels: component:build, backport candidate

#3338 Fix #3333: javalib FileInputStream#available now matches JVM
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/FileInputStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/FileOutputStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/IoTestHelpers.scala
Labels: component:javalib, backport candidate

#3354 Fix #3308, #3350: better reporting of javalib stream & spliterator characteristics
  javalib/src/main/scala/java/util/ArrayList.scala
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/ObjectStreamImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, backport candidate

#3347 Fix Subclassed `WeakReference` to be GCed
  nativelib/src/main/resources/scala-native/gc/immix_commix/headers/ObjectHeader.h
  tools/src/main/scala/scala/scalanative/codegen/Generate.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/javalib/lang/ref/WeakReferenceTest.scala
Labels: component:tools, component:nativelib, backport candidate

#3345 Fix #3329: javalib MappedByteBufferImpl no longer calls FileChannel truncate method
  javalib/src/main/scala/java/nio/MappedByteBufferImpl.scala
  javalib/src/main/scala/java/nio/channels/FileChannel.scala
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/channels/FileChannelTest.scala
Labels: component:javalib, backport candidate

#3358 Fix #3330: javalib FileChannel#truncate now only shrinks
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/channels/FileChannelTest.scala
Labels: component:javalib, backport candidate

#3357 Fix #3356: javalib LinkedListTest now passes
  javalib/src/main/scala/java/util/AbstractList.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/AbstractListTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/LinkedListTest.scala
Labels: component:javalib, backport candidate

#3361 Fix #3351: javalib LinkedList#spliterator now reports ORDERED characteristic.
  javalib/src/main/scala/java/util/LinkedList.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/LinkedListTest.scala
Labels: component:javalib, backport candidate

#3360 Fix #3340: javalib MappedByteBuffer now handles 0 byte ranges
  javalib/src/main/scala/java/nio/MappedByteBufferData.scala
  javalib/src/main/scala/java/nio/MappedByteBufferImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/channels/FileChannelTest.scala
Labels: component:javalib, backport candidate
