Repository scala-native/scala-native, pull requests merged in 2023-08, with the labels that each got.

#3413 Make UUID.compareTo() consistent with the JVM.
  javalib/src/main/scala/java/util/UUID.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/UUIDTest.scala
Labels: component:javalib, backport candidate

#3412 Two location-fragile date/time tests are now more robust.
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/TimeTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/DateTest.scala
Labels: component:javalib, component:posixlib, backport candidate

#3419 Build: Update sbt to 1.9.3
  project/build.properties
Labels: component:build, backport candidate

#3421 Fix #3409: Remove defects from Collectors#joining method
  javalib/src/main/scala/java/util/stream/Collectors.scala
  unit-tests/shared/src/test/scala-3/scala/org/scalanative/testsuite/javalib/util/stream/CollectorsTest.scala
Labels: component:javalib, backport candidate

#3422 Evolve new javalib StringJoiner class
  javalib/src/main/scala/java/util/StringJoiner.scala
Labels: component:javalib, backport candidate

#3420 Fix #3408: Implement two javalib static String join() methods.
  javalib/src/main/scala/java/lang/String.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/lang/StringTest.scala
Labels: component:javalib, backport candidate

#3428 Fix #3426: Towards a better javalib Stream.toArray(generator)
  javalib/src/main/scala/java/util/stream/StreamImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, backport candidate

#3430 Fix #3417: Remove maxDepth related defects from javalib Files methods
  javalib/src/main/scala/java/nio/file/Files.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/file/FilesTest.scala
Labels: component:javalib, backport candidate

#3432 Fix #3431: javalib Matcher.reset(input) now updates underlying regex.
  javalib/src/main/scala/java/util/regex/Matcher.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/regex/MatcherTest.scala
Labels: component:javalib, backport candidate

#3434 Fix #3378: javalib {Stream, DoubleStream}#sorted now delays actual sort to a terminal operation
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/StreamImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, backport candidate

#3441 Fix #3439: Implement javalib sequential setAll methods
  javalib/src/main/scala/java/util/Arrays.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/ArraysTest.scala
Labels: component:javalib, backport candidate

#3445 Fix #3340: Provide a restricted implementation of javalib Array parallel methods
  javalib/src/main/scala/java/util/Arrays.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/ArraysTest.scala
Labels: component:javalib, backport candidate

#3444 Fix emitting debug information for structe types with `SCALANATIVE_OPTIMIZE=false`
  tools/src/main/scala/scala/scalanative/codegen/llvm/Metadata.scala
  tools/src/main/scala/scala/scalanative/codegen/llvm/MetadataCodeGen.scala
Labels: bug, component:debug

#3447 Fixing Bug in Lowering: Handling Op.Copy for ClassOf Transformation
  tools/src/main/scala/scala/scalanative/codegen/Lower.scala
Labels: bug

#3451 Build: Update sbt to 1.9.4
  project/build.properties
Labels: component:build, backport candidate

#3459 Fix #3452: javalib Process.waitFor() now returns expected child exit code
  javalib/src/main/scala/java/lang/process/UnixProcessGen2.scala
  tools/src/test/scala/scala/scalanative/NIRCompiler.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/lang/ProcessTest.scala
Labels: component:javalib, backport candidate
