Repository scala-native/scala-native, pull requests merged in 2023-03, with the labels that each got.

#3203 Port `definedTestNames` override from Scala.js
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala
Labels: backport candidate

#3209 Fix #3206: posixlib unistd and monetary use new CVarArgs support
  posixlib/src/main/scala/scala/scalanative/posix/monetary.scala
  posixlib/src/main/scala/scala/scalanative/posix/unistd.scala
Labels: component:posixlib

#3218 javalib Spliterators trySplit() methods now split
  docs/lib/javalib.rst
  javalib/src/main/scala/java/util/Spliterators.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/SpliteratorsTest.scala
Labels: component:javalib

#3227 Update sbt to 1.5.8 for scripted tests
  docs/user/setup.rst
  project/Commands.scala
  project/ScalaVersions.scala
  scripted-tests/run/hello-scala-app/build.sbt
Labels: component:build

#3234 Implement posixlib dlfcn
  docs/lib/posixlib.rst
  posixlib/src/main/resources/scala-native/dlfcn.c
  posixlib/src/main/scala/scala/scalanative/posix/dlfcn.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/DlfcnTest.scala
Labels: component:posixlib, backport candidate
