Repository scala-native/scala-native, pull requests merged in 2023-05, with the labels that each got.

#3258 Expose parsed target triple in `LinktimeInfo`
  LICENSE.md
  nativelib/src/main/scala/scala/scalanative/meta/LinktimeInfo.scala
  tools/src/main/scala/scala/scalanative/build/NativeConfig.scala
  tools/src/main/scala/scala/scalanative/build/TargetTriple.scala
  tools/src/main/scala/scala/scalanative/linker/LinktimeValueResolver.scala
  tools/src/test/scala/scala/scalanative/build/TargetTripleTest.scala
  tools/src/test/scala/scala/scalanative/linker/LinktimeConditionsSpec.scala
Labels: backport candidate

#3268 Fix #3222, 3221: A few javalib stream changes
  docs/lib/javalib.rst
  javalib/src/main/scala-2.12/scala/scalanative/compat/ScalaStream.scala
  javalib/src/main/scala-2.13/scala/scalanative/compat/ScalaStream.scala
  javalib/src/main/scala-3/scala/scalanative/compat/ScalaStream.scala
  javalib/src/main/scala/java/io/BufferedReader.scala
  javalib/src/main/scala/java/nio/file/Files.scala
  javalib/src/main/scala/java/util/ArrayList.scala
  javalib/src/main/scala/java/util/Arrays.scala
  javalib/src/main/scala/java/util/Collection.scala
  javalib/src/main/scala/java/util/DoubleSummaryStatistics.scala
  javalib/src/main/scala/java/util/IntSummaryStatistics.scala
  javalib/src/main/scala/java/util/LongSummaryStatistics.scala
  javalib/src/main/scala/java/util/Optional.scala
  javalib/src/main/scala/java/util/OptionalDouble.scala
  javalib/src/main/scala/java/util/OptionalInt.scala
  javalib/src/main/scala/java/util/OptionalLong.scala
  javalib/src/main/scala/java/util/regex/Pattern.scala
  javalib/src/main/scala/java/util/stream/BaseStream.scala
  javalib/src/main/scala/java/util/stream/Collector.scala
  javalib/src/main/scala/java/util/stream/Collectors.scala
  javalib/src/main/scala/java/util/stream/DoubleStream.scala
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/ObjectStreamImpl.scala
  javalib/src/main/scala/java/util/stream/Stream.scala
  javalib/src/main/scala/java/util/stream/StreamSupport.scala
  javalib/src/main/scala/java/util/stream/WrappedScalaStream.scala
  javalib/src/main/scala/scala/scalanative/compat/StreamsCompat.scala
  javalib/src/main/scala/scala/scalanative/nio/fs/FileHelpers.scala
  unit-tests/shared/src/test/require-jdk16/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTestOnJDK16.scala
  unit-tests/shared/src/test/require-jdk16/org/scalanative/testsuite/javalib/util/stream/StreamTestOnJDK16.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTestOnJDK9.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/stream/StreamTestOnJDK9.scala
  unit-tests/shared/src/test/scala-3/scala/org/scalanative/testsuite/javalib/util/stream/CollectorsTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/file/FilesTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/CollectorTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib

#3274 Rename commix main file
  nativelib/src/main/resources/scala-native/gc/commix/CommixGC.c
Labels: component:gc, backport candidate

#3273 Implement three javalib CollectorsTests for JDK > 8
  unit-tests/shared/src/test/require-scala3-jdk10/org/scalanative/testsuite/javalib/util/stream/BuildTestOnJDK10.scala
  unit-tests/shared/src/test/require-scala3-jdk10/org/scalanative/testsuite/javalib/util/stream/CollectorsTestOnJDK10.scala
  unit-tests/shared/src/test/require-scala3-jdk12/org/scalanative/testsuite/javalib/util/stream/BuildTestOnJDK12.scala
  unit-tests/shared/src/test/require-scala3-jdk12/org/scalanative/testsuite/javalib/util/stream/CollectorsTestOnJDK12.scala
  unit-tests/shared/src/test/require-scala3-jdk9/org/scalanative/testsuite/javalib/util/stream/BuildTestOnJDK9.scala
  unit-tests/shared/src/test/require-scala3-jdk9/org/scalanative/testsuite/javalib/util/stream/CollectorsTestOnJDK9.scala
Labels: component:javalib

#3280 Fix #3276: Remove two major defects in posixlib utsname.scala
  docs/changelog/0.5.0.md
  posixlib/src/main/resources/scala-native/sys/uname.c
  posixlib/src/main/scala/scala/scalanative/posix/sys/utsname.scala
  unit-tests/native/src/test/scala/org/scalanative/testsuite/posixlib/sys/UtsnameTest.scala
Labels: component:posixlib

#3284 Character.isWhitespace(-1) returns false
  javalib/src/main/scala/java/lang/Character.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/lang/CharacterTest.scala
Labels: component:javalib, bug

#3291 Build: Update sbt to 1.8.3
  project/build.properties
Labels: component:build, backport candidate

#3290 Fix #3265: Add Contributors Note describing build lore
  project/ScalaVersions.scala
Labels: component:build, backport candidate
