Repository scala-native/scala-native, pull requests merged in 2023-10, with the labels that each got.

#3516 Fix #3515: Build test-all command now locally publishes artifacts only once
  project/Commands.scala
Labels: component:build, backport candidate

#3514 Do not emit single LLVM IR file for release mode + LTO none
  tools/src/main/scala/scala/scalanative/build/Validator.scala
  tools/src/main/scala/scala/scalanative/codegen/llvm/CodeGen.scala
Labels: component:build

#3510 Fix `Class.isAssignableFrom` for primitive types
  .git-blame-ignore-revs
  nativelib/src/main/scala/java/lang/Class.scala
  nir/src/main/scala/scala/scalanative/nir/Rt.scala
  nscplugin/src/main/scala-2/scala/scalanative/nscplugin/NirDefinitions.scala
  nscplugin/src/main/scala-2/scala/scalanative/nscplugin/NirGenStat.scala
  nscplugin/src/main/scala-3/scala/scalanative/nscplugin/NirDefinitions.scala
  nscplugin/src/main/scala-3/scala/scalanative/nscplugin/NirGenStat.scala
  tools/src/main/scala/scala/scalanative/codegen/Lower.scala
  tools/src/main/scala/scala/scalanative/codegen/Metadata.scala
  unit-tests/native/src/test/scala/scala/scalanative/IssuesTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/lang/ClassTest.scala
Labels: backport candidate

#3520 Add last updated to each page beneath title based on git commit
  .github/workflows/build-docs.yml
  .readthedocs.yaml
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/sn_alabaster/layout.html
  docs/sn_alabaster/theme.conf
  scripts/makedocs
Labels: component:docs

#3466 Partition into multiple LLVM IR files per Scala source file originated from
  tools/src/main/scala/scala/scalanative/codegen/llvm/CodeGen.scala
Labels: component:debug

#3564 Remove URL related classes from supported javalib
  docs/lib/javalib.rst
Labels: component:javalib, component:docs

#3587 Build: Update sbt to 1.9.7
  project/ScalaVersions.scala
  project/build.properties
Labels: component:build, backport candidate
