Repository scala-native/scala-native, pull requests merged in 2023-07, with the labels that each got.

#3368 Fix #3316: javalib FileChannel append behavior now matches a JVM
  javalib/src/main/scala/java/nio/channels/FileChannel.scala
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/channels/FileChannelTest.scala
Labels: component:javalib, backport candidate

#3366 Fix #3352: javalib {Stream, DoubleStream}#sorted characteristics now match JVM
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/ObjectStreamImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, performance, backport candidate

#3370 Fix #3369: fix three defects in javalib FileChannel write methods
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/nio/channels/FileChannelTest.scala
Labels: component:javalib, backport candidate

#3374 Fix #3373: javalib {Stream, DoubleStream} sequential & parallel methods now match a JVM
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/ObjectStreamImpl.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, backport candidate

#3377 Fix #3376: javalib {Stream#of, DoubleStream#of} characteristics now match a JVM
  javalib/src/main/scala/java/util/stream/DoubleStream.scala
  javalib/src/main/scala/java/util/stream/ObjectStreamImpl.scala
  javalib/src/main/scala/java/util/stream/Stream.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/DoubleStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/stream/StreamTest.scala
Labels: component:javalib, backport candidate

#3391 nativeLinkReleaseFast and nativeLinkReleaseFull SBT tasks
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePlugin.scala
  sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala
Labels: backport candidate

#3394 A small re-organization of javalib internals
  javalib/src/main/scala/java/util/stream/DoubleStreamImpl.scala
  javalib/src/main/scala/java/util/stream/Stream.scala
  javalib/src/main/scala/java/util/stream/StreamImpl.scala
  javalib/src/main/scala/java/util/stream/StreamSupport.scala
Labels: component:javalib, backport candidate

#3387 Unmangle procedure names in DISubprogram
  tools/src/main/scala/scala/scalanative/codegen/llvm/MetadataCodeGen.scala
Labels: component:debug

#3402 Implement & test javalib Random doubleStream methods
  javalib/src/main/scala/java/util/Random.scala
  javalib/src/main/scala/java/util/concurrent/ThreadLocalRandom.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/util/RandomTest.scala
Labels: component:javalib, backport candidate

#2691 Port Piped{Input,Output}Stream from Apache Harmony
  javalib/src/main/scala/java/io/OutputStream.scala
  javalib/src/main/scala/java/io/PipedInputStream.scala
  javalib/src/main/scala/java/io/PipedOutputStream.scala
  javalib/src/main/scala/java/io/PipedReader.scala
  javalib/src/main/scala/java/io/PipedWriter.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/PipedInputStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/PipedOutputStreamTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/PipedReaderTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/PipedWriterTest.scala
Labels: component:javalib
