Repository scala-native/scala-native, pull requests merged in 2025-02, with the labels that each got.

#4222 Correct math floorMod signature
  javalib/src/main/scala/java/lang/Math.scala
Labels: component:javalib, bug, blocker

#4226 Implement java.util.Objects methods up to JDK 19, inclusive
  javalib/src/main/scala/java/util/Objects.scala
  unit-tests/shared/src/test/require-jdk16/org/scalanative/testsuite/javalib/util/ObjectsTestOnJDK16.scala
  unit-tests/shared/src/test/require-jdk19/org/scalanative/testsuite/javalib/util/util/ObjectsTestOnJDK19.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/ObjectsTestOnJDK9.scala
Labels: component:javalib

#4227 Implement JDK 11 String#lines
  javalib/src/main/scala/java/lang/String.scala
  unit-tests/shared/src/test/require-jdk11/org/scalanative/testsuite/javalib/lang/StringTestOnJDK11.scala
Labels: component:javalib

#4228 Implement JDK11 Predicate#not
  javalib/src/main/scala/java/util/function/Predicate.scala
  unit-tests/shared/src/test/require-jdk11/org/scalanative/testsuite/javalib/util/function/PredicateTestOnJDK11.scala
Labels: component:javalib

#4225 Fix #4221: Make two java.net Socket tests more robust to use outside CI
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/net/DatagramSocketTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/net/SocketTest.scala
Labels: component:javalib, component:tests

#4235 java CharSequenceTestOnJDK15 now explicitly tests against Java StringBuilder
  unit-tests/shared/src/test/require-jdk15/org/scalanative/testsuite/javalib/lang/CharSequenceTestOnJDK15.scala
Labels: component:javalib

#4237 Implement JDK11 java.io Reader#nullReader & Writer#nullWriter
  javalib/src/main/scala/java/io/Reader.scala
  javalib/src/main/scala/java/io/Writer.scala
  unit-tests/shared/src/test/require-jdk11/org/scalanative/testsuite/javalib/io/ReaderTestOnJDK11.scala
  unit-tests/shared/src/test/require-jdk11/org/scalanative/testsuite/javalib/io/WriterTestOnJDK11.scala
Labels: component:javalib

#4238 Port JDK 1-dot-1 java.io CharArrayReader & CharArrayWriter from Scala.js
  javalib/src/main/scala/java/io/CharArrayReader.scala
  javalib/src/main/scala/java/io/CharArrayWriter.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/CharArrayReaderTest.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/CharArrayWriterTest.scala
Labels: component:javalib

#4239 Implement two JDK 9 & 16 java.lang IndexOutOfBoundsExceptions
  javalib/src/main/scala/java/lang/Throwables.scala
  unit-tests/shared/src/test/require-jdk16/org/scalanative/testsuite/javalib/lang/ThrowablesTestOnJDK16.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/lang/ThrowablesTestOnJDK9.scala
Labels: component:javalib

#4241 Implement two JDK 9 Arrays#mismatch() methods
  javalib/src/main/scala/java/util/Arrays.scala
  unit-tests/shared/src/test/require-jdk9/org/scalanative/testsuite/javalib/util/ArraysMismatchTestOnJDK9.scala
Labels: component:javalib

#4243 Implement JDK 12 Files#mismatch(path, path)
  javalib/src/main/scala/java/nio/file/Files.scala
  unit-tests/shared/src/test/require-jdk12/org/scalanative/testsuite/javalib/nio/file/FilesTestOnJDK12.scala
Labels: component:javalib

#4247 Implement two JDK 15 jl.Math#absExact methods
  javalib/src/main/scala/java/lang/Math.scala
  unit-tests/shared/src/test/require-jdk15/org/scalanative/testsuite/javalib/lang/MathTestOnJDK15.scala
Labels: component:javalib

#4246 Fix #4244: Correct signature of java.lang.String#transform
  javalib/src/main/scala/java/lang/String.scala
  unit-tests/shared/src/test/require-jdk12/org/scalanative/testsuite/javalib/lang/StringTestOnJDK12.scala
  unit-tests/shared/src/test/require-jdk15/org/scalanative/testsuite/javalib/lang/StringTestOnJDK15.scala
Labels: component:javalib

#4245 Align javalib PrintStream with JDK 23
  javalib/src/main/scala/java/io/PrintStream.scala
  tools/src/test/scala/scala/scalanative/linker/MinimalRequiredSymbolsTest.scala
  unit-tests/shared/src/test/require-jdk10/org/scalanative/testsuite/javalib/io/PrintStreamTestOnJDK10.scala
  unit-tests/shared/src/test/require-jdk14/org/scalanative/testsuite/javalib/io/PrintStreamTestOnJDK14.scala
  unit-tests/shared/src/test/require-jdk18/org/scalanative/testsuite/javalib/io/PrintStreamTestOnJDK18.scala
  unit-tests/shared/src/test/scala/org/scalanative/testsuite/javalib/io/PrintStreamTest.scala
Labels: component:javalib
