Repository scala-native/scala-native, pull requests merged in 2025-06, with the labels that each got.

#4353 Fix #4352: javalib UnixProcessGen2 is now atomic
  javalib/src/main/scala/java/lang/process/UnixProcessGen2.scala
Labels: component:javalib

#4356 Fix #4359: Posixlib waitid status param needs to be ptr siginfo_t infop
  posixlib/src/main/scala/scala/scalanative/posix/sys/wait.scala
Labels: component:posixlib

#4378 Improvement [Build]: Update sbt to 1.11.2
  project/ScalaVersions.scala
  project/build.properties
Labels: component:build

#4379 Add short write handling to javalib FileChannel#transferFrom and #transferTo
  javalib/src/main/scala/java/nio/channels/FileChannelImpl.scala
Labels: component:javalib

#4380 Make javalib InputStream#transferTo short write behavior evident
  javalib/src/main/scala/java/io/InputStream.scala
Labels: component:javalib
